/* Please edit this variables */
:root {
  --background0: #00061D;
  --background1: #00173D;
  --background2: #002E60;
  --border: #727171;
  --text: #FBFBF6;
  --black: #000822;
  --bright-black: #00295A;
  --red: #D13939;
  --bright-red: #E85B59/*E86B79*/;
  --yellow: #B3B00E;
  --bright-yellow: #ECE038;
  --green: #5EAD1C;
  --bright-green: #ABC900;
  --blue: #424BBF/*#2394AD*/;
  --bright-blue: #7F7CE3/*#5AB5B2*/;
  --magenta: #903292/*#512682*/;
  --bright-magenta: #EB6EE5/*#745399*/;
  --cyan: #0086CC/*#277A96*/;
  --bright-cyan: #00D5EF/*#84B9CB*/;
  --white: #E3E3DE;
  --bright-white: #FBFBF6;
  --other1: #B17009;
  --bright-other1: #EE9D19;
  --other2: #00173D;
  --bright-other2: #002E60;
}

body {
  background: var(--background0);
  color: var(--text);
}

.palette {
  margin-bottom: 2rem;
}

.background1 {
  margin-bottom: 2rem;
}

table {
  border-color: var(--border);
  border: 4px solid;
}

table td {
  height: 100px;
  width: 150px;
  border-color: var(--border);
  border: 2px solid;
}

.normal {
  color: var(--bright-white);
  border-color: var(--border);
}

.bright {
  color: var(--bright-black);
  border-color: var(--border);
}

#black {
  background: var(--black);
}

#bright_black {
  background: var(--bright-black),
}

#red {
  background: var(--red);
}

#bright_red {
  background: var(--bright-red);
}

#yellow {
  background: var(--yellow);
}

#bright_yellow {
  background: var(--bright-yellow);
}

#green {
  background: var(--green);
}

#bright_green {
  background: var(--bright-green);
}

#blue {
  background: var(--blue);
}

#bright_blue {
  background: var(--bright-blue);
}

#magenta {
  background: var(--magenta);
}

#bright_magenta {
  background: var(--bright-magenta);
}

#cyan {
  background: var(--cyan);
}

#bright_cyan {
  background: var(--bright-cyan);
}

#white {
  background: var(--white);
}

#bright_white {
  background: var(--bright-white);
}

#other1 {
  background: var(--other1);
}

#bright_other1 {
  background: var(--bright-other1)
}

#other2 {
  background: var(--other2)
}

#bright_other2 {
  background: var(--bright-other2)
}

.background1 {
  background: var(--background1);
}

.background2 {
  background: var(--background2);
}

.text-black {
  color: var(--black);
}

.text-bright-black {
  color: var(--bright-black)
}

.text-red {
  color: var(--red)
}

.text-bright-red {
  color: var(--bright-red)
}

.text-green {
  color: var(--green)
}

.text-bright-green {
  color: var(--bright-green)
}

.text-yellow {
  color: var(--yellow);
}

.text-bright-yellow {
  color: var(--bright-yellow);
}

.text-blue {
  color: var(--blue);
}

.text-bright-blue {
  color: var(--bright-blue);
}

.text-magenta {
  color: var(--magenta);
}

.text-bright-magenta {
  color: var(--bright-magenta);
}

.text-cyan {
  color: var(--cyan);
}

.text-bright-cyan {
  color: var(--bright-cyan);
}

.text-white {
  color: var(--white)
}

.text-bright-white {
  color: var(--bright-white)
}

.text-other1 {
  color: var(--other1)
}

.text-bright-other1 {
  color: var(--bright-other1)
}

.text-other2 {
  color: var(--other2)
}

.text-bright-other2 {
  color: var(--bright-other2)
}